<ion-tabs>

  <ion-tab-bar slot="top">
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>상품검색</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mall">
      <ion-icon name="home"></ion-icon>
      <ion-label>쇼핑몰</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="apps"></ion-icon>
      <ion-label>모아보기</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="myProduct">
      <ion-icon name="cart"></ion-icon>
      <ion-label>내 상품</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="morePage">
      <ion-icon name="more"></ion-icon>
      <ion-label>더보기</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
