<ion-header>
  <ion-toolbar>
    <ion-title>상품 리스트</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <xui-category-list-hoz [showImage]="false" [categories]="categories$ | async" [selectId]="selectId$ | async"
    [loading]="categoriesLoading$ | async" [error]="error$ | async" (select)="onSelectCategory($event)"></xui-category-list-hoz> -->

  <xui-product-list [products]="products$ | async" [imageSize]="imageSize" [currency]="currency$ | async" [loading]="isLoading$ | async" [error]="error$ | async"
    (select)="onSelectProduct($event)"></xui-product-list>
</ion-content>
