<ion-header>
  <!-- <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img class="menu-button" src="../../../assets/imgs/menu.png">
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Hot Deals</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content class="hotdeal">

  <div class="serach-bar-wrapper">
    <ion-searchbar placeholder ="상품검색" animated color = "light" type = "serach"></ion-searchbar>
  </div>
  <div class="ads-slider">
    <div class="ads-wrapper">
      <a (click)="goCategory()">
        <div class="ads-box">
        </div>
      </a>
    </div>
    <div class="small-ads-wrapper">
      <div class="left-ads-wrapper">
        <a (click)="goCategory()">
          <div class="ads-box">
          </div>
        </a>
      </div>

      <div class="right-ads-wrapper">
        <div class="tiny-ads-wrapper">
          <a (click)="goCategory()">
            <div class="ads-box">
            </div>
          </a>
        </div>

        <div class="tiny-ads-wrapper">
          <a (click)="goCategory()">
            <div class="ads-box offer4">
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="footer-ads-wrapper">
      <a (click)="goCategory()">
        <div class="ads-box">
        </div>
      </a>
    </div>
  </div>
</ion-content>
